{% extends 'index.html' %} {% block content %}
<div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card text-center shad">
        <div class="card-header">
            <h1>Авторизация</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Войти" />
            </form>
        </div>
        <div class="card-footer">
            <div class="alert alert-info" role="alert">
                Войдите, чтобы получить доступ к своему органайзеру!
                <a href="{% url 'ivanapp:register' %}">Нет аккаунта? Зарегистрироваться!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}